<html>
<head>
    <title>Contacts</title>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
<body>
<h1>Contacts</h1>
<div>
    {{> contacts_table}}
</div>
<div>
    {{> add_contact_form}}
</div>
</body>
</html>